<div class="d-flex flex-column align-items-center mt-5">
  <h1>URL shortener</h1>
  <img  src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="url shortener front page image" style="width: 200px;">
  
  <form action="" class="d-flex-column align-items-center mt-5 w-50">
    <div class="form-group">
      <input type="url" class="form-control" name="image" id="image" placeholder="Input URL here" style=" outline: none;">
    </div>
    <div class="d-flex justify-content-center" >
      <button type="submit" class="btn btn-outline-primary w-50">Shorten</button>
    </div>
  </form>
</div>


